.dashboard-container {
    display: flex;
    background-color: #14151a;
    /* Match the dark theme */
    min-height: 100vh;
}

.main-content {
    margin-left: 260px;
    /* Sidebar width */
    flex: 1;
    /* Take remaining space */
    min-height: 100vh;
    background-color: #14151a;
    padding: 40px;
    color: white;
}