@import "tailwindcss";

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-active: var(--sidebar-active);
    --color-border: var(--border);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    
    --color-gold: #c5a059;
    --color-gold-hover: #b48e46;
    --color-gold-text: #8b6e3a;
    --color-neutral-950: #0a0a0a;
    --color-neutral-900: #171717;
    --color-neutral-800: #262626;
    --color-neutral-100: #f5f5f5;
}


:root {
    --background: #fafafa;
    --foreground: #171717;
    --card: #ffffff;
    --sidebar: #ffffff;
    --sidebar-foreground: #525252;
    --sidebar-active: #c5a059;
    --border: #e5e5e5;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --radius: 1rem;
    
    /* Gold Accent */
    --gold: #c5a059;
    --gold-foreground: #ffffff;
}

.dark {
    --background: #0a0a0a;
    --foreground: #fafafa;
    --card: #171717;
    --sidebar: #111111;
    --sidebar-foreground: #a3a3a3;
    --sidebar-active: #c5a059;
    --border: #262626;
    --muted: #262626;
    --muted-foreground: #737373;

    /* Gold Accent Dark */
    --gold: #c5a059;
    --gold-foreground: #0a0a0a;
}

@layer base {
    body {
        @apply bg-background text-foreground transition-colors duration-300 font-sans antialiased selection:bg-gold/30;
    }
}